body {
	background-color: #555555;
}

#board {
	border: 3px solid black;
	border-collapse: collapse;
}

td {
	padding: 5px;
	margin: 20 px;
  	border: 1px solid;
}

.right{
	border-right: 3px solid;
}

.bottom{
	border-bottom: 3px solid;
}

.numinput {
	width: 28pt;
    font-size: 26pt;
	background: transparent;
	border: none;
	text-align: center;
	outline: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

a {
	background-color: green;
	box-shadow: 0 5px 0 darkgreen;
	color: white;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
  }
  
  a:hover {
	background-color: #00b40fc7;
  }
  
  a:active {
	box-shadow: none;
	top: 5px;
  }