body {
	background-color: #555555;
}

#board {
	border: 3px solid black;
	border-collapse: collapse;
}

td {
	padding: 5px;
	margin: 20 px;
  	border: 1px solid;
}

td:nth-child(3n){
	border-right: 3px solid;
}

tr:nth-child(3n){
	border-bottom: 3px solid;
}

.numinput {
	width: 36pt;
    font-size: 26pt;
	background: transparent;
	border: none;
	text-align: center;
	outline: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}